p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Raleway;
}
a:hover,a:focus{
    text-decoration: none

}
.navbar{
    width: 100%;
    border-radius: 0;
    margin: 0;
    height: 65px;
}
.navbar .navbar-brand p{
    color: white;
    font-size: 26px;
    font-family: fantasy;
    margin-top: 9px;
}
.navbar-inverse .navbar-collapse{
    border-color: #101010;
    margin: 5px 0 0 0;
}
.background{
    background-color: #DA4343;
    width: 100%;
    padding: 10px 0 20px 0;
    
    
}
.background-container{
    margin: 40px 0 0 0;
}
.headingPavithram{
    color: white;
    font-size: 50px;
    font-family: cursive;
    margin-top: 3px;
}

.pavithamPara{
    color: white;
    font-family: monospace;
    font-size: 20px;
    margin: 55px 0px 0 0;
}
.bookNow{
    color: #fff;
    background-color: black;
    border-color: black;
    padding: 10px;
    border-radius: 0;
    width: 100%;
}
.lowerPage{
    background-color: #2C3B5A;
    width: 100%;
    padding: 15px;

}
.icon{
    color: red;
    background-color: #F8F409;
    padding: 15px;
    font-size: 30px;
    border-radius: 56%;
    margin:  0 10px 0 10px;
}

	/*Search Box*/

 .searchBox
    {
        margin: 0;
        padding: 0;
    }
    input {
        border-radius: 0 !important;
        padding: 20px !important;
        width:100% !important;
    }
    
.searchBox svg
    {
    position:absolute;
    right:102px;
    top:-10px;
    z-index:2;
    }
/* .searchBox form
    {
    position:absolute;
    top:5px;
    right:100px;
    border-top:solid #f09548;
    padding:20px;
    background-color:#212120;
    z-index:1;
    } */
    
    #queryResult {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: #F6F7F7;
        
      }
    
      #queryResult ul {
        list-style-type: none;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        max-height: 60vh;
        overflow: auto;
      }
    
      #queryResult ul li {
        padding: 10px;
        box-sizing: border-box;
      }
      #queryResult ul li:hover{
          background-color: #f09548;
          
      }
      
    
      #queryResult ul li a {
        box-sizing: border-box;
        text-decoration: none;
        color: black;
      }
      #queryResult ul li:hover > #queryResult ul li a { 
        color: white;
        }
      #queryResult .searchTitle{
        box-sizing: border-box;
        display:inline-block;
        width: 75%;
        
      }
      #queryResult .searchImage{
        box-sizing: border-box;
        display:inline-block;
        width: 25%;
      }
      #queryResult .searchImage img{
        box-sizing: border-box;
        width: 100%;
        margin-top: -18px;
      }
    
    @media screen and (max-width:780px ) 
    {
        nav  .searchBox form
        {
            width:100%;
            right:0px;
        }
         nav .searchBox svg
         {
             right:15px;
         }
        
    }
    
    nav  .searchBox form input[type="text"]
    {
    border:solid 1px #f09548;
    border-radius:0px;
    background-color:#212120;
    color:white;
    min-width: 300px;
    }
     nav .searchBox form input[type="submit"]
    {
        border:solid 1px #f09548;
        border-radius:0px;
        background-color:#f09548;
        color:white;
    }

.iterany{
    color: white;
    border: solid 2px white;
    padding: 7px 20px;
    font-size: 18px;
    background-color: red;
    margin: 0 -6px 0 0;

}
.btn-danger{
    border-radius: 0;
    padding: 7px 20px;
}
.spanPara{
    color: white;
    padding: 0 19px;
    font-size: 17px;
    font-family: inherit;
}
.arriveText{
    color: white;
    font-size: 20px;
    font-family: inherit;
    font-weight: 300;
    margin: 19px 0;
    line-height: 32px;
    word-spacing: 1px;
}
.review{
    border: solid white 2px;
    color: white;
    font-size: 25px;
    display: inline-block;
    padding: 5px 200px;
    margin: 100px 0 0 0;
}
footer{
    background-color: #FF5733;
}
.contact{
    color: white;
    padding: 20px 0 15px 25px;
}
.social{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin: 20px 10px;
}
.copyright{
    font-size: 12px;
    color: white;
    padding: 0 0 18px 0;
}
